@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}




@plugin "daisyui/theme" {
  name: "abyss";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #fdfdfd;
  --color-base-200: rgb(56, 56, 56);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #b9123f;
  --color-primary: #b9123f;
  --color-primary-content: rgb(40, 40, 39);
  --color-secondary: #fdfdfd;
  --color-secondary-content: rgb(40, 40, 39);
  --color-accent: rgb(56, 56, 56);
  --color-accent-content: #fdfdfd;
  --color-neutral: rgb(56, 56, 56);
  --color-neutral-content: rgb(248, 48, 48);
  --color-info: rgb(40, 40, 39);
  --color-info-content: #fdfdfd;
  --color-success: rgb(40, 40, 39);
  --color-success-content: rgb(248, 48, 48);
  --color-warning: #b9123f;
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: rgb(248, 48, 48);
  --color-error-content: rgb(40, 40, 39);
  --radius-selector: 0.25rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 4px;
  --depth: 0;
  --noise: 0;
}

p {
  font-family: 'League Spartan', 'Blinker', 'Montserrat', sans-serif;
  letter-spacing: 1.25px;
  line-height: 1.55;
}

.card-border {
  border: var(--border) solid var(--color-info);
  border-radius: var(--radius-box);
}

.card-dash {
  border: var(--border) dashed var(--color-primary);
  border-radius: var(--radius-box);
}
